---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Information about who I am"
	pubDate={new Date('June 25 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		I am nobody from nowhere...
	</p>

</Layout>
