---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
<style>
body {
  margin: 10px;
}
</style>
<body style="color:#303030;">
<center>
<p style="color:White;">
    <h4>
	<br>
        Below you'll find a SECURE webchat that you can use to chat with ANYBODY.
    </h4>
</p>
</center>
<p style="color:White;">
To use it you'll need to choose a USERNAME for yourself as well as a CHANNEL NAME and a mutual PASSWORD.
Then share BOTH the CHANNEL NAME and PASSWORD to the person(s) you want to chat with in order for them to be able to connect to the same chat session.
When the LAST person LEAVES the chat it and it's content will be TOTALLY removed and no traces of it will exist.
</p>
</body>
<iframe style="width: 100%; height: 900px; overflow: show; border:1px solid #000;" src="https://client.chatcrypt.com/" width="100" height="100" scrolling="yes">Iframes not supported</iframe>

</html>
