---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🥷🏻 Welcome!</h1>
			<p>For the BEST LEGAL CANNABIS in Sweden please visit:<br>
			<H2><a href="http://sweweed.glide.app/">SweWeed</a></H2>
			</p>
		</main>
		<Footer />
	</body>
</html>
