---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<center>
			<h1>🥷🏻 Welcome!</h1>
			<p>For the <b>best <u>LEGAL</u> cannabis</b> in <b>Sweden</b> please visit:<br>
			<a href="http://sweweed.glide.app/"><h2>SweWeed</h2></a>
			</p>
			<br>
			<br>
			<p>
			<a target="_blank" href="https://www.y8.com/games/last_z"><img alt="Last Z" class="thumb playable" src="https://img.y8.com/cloud/v2-y8-thumbs-small-thumbnails-001/185923/small.gif" /><br>Last Z<br>Play Now!</a>
			</p>
			</center>
		</main>
		<Footer />
	</body>
</html>
