---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<center>
			<h1>🥷🏻 Welcome!</h1>
			<p>For the <b>best <u>LEGAL</u> cannabis</b> in <b>Sweden</b> please visit:<br>
			<a href="http://sweweed.glide.app/"><h2>SweWeed</h2></a>
			</p>
			<br>
			<p>Below is a video explaining the differences between normal weed and THCA hemp.
			</p>
			<br>
			<p>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/NBOdy8IvqIw?si=gjItBlQF740x94TU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
			</p>
			</center>
		</main>
		<Footer />
	</body>
</html>
